/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4ebeec9e-lhmgzcys version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-title  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 10px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Oswald;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-link-img  {
		
						width: 30px;
						
						margin: 11px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-subtitle  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(142, 142, 142);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys  .preview-content-holder  {
		
						margin-right: 0px;
						
						text-align: center;
						
						background-color: rgba(246, 239, 217, 0);
						
						margin-left: 0px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-item-links span  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 40px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-element.icon-source  {
		
						padding-right: 0px;
						
						margin-bottom: 5px;
						
						margin-top: 5px;
						
						padding-left: 0px;
						
						width: 150px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .middle_layout .helper-div  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-lhmgzcys .background-div  {
		
						color: rgb(0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-3e4060b1-8bmyyzud version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .title-holder  {
		
						text-align: center;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview.image-cover  {
		
						margin-top: 20px;
						
						background-color: rgba(255, 255, 255, 0);
						
						margin-bottom: 20px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .Title  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .Body h1  { 
						color: #8a7373;
						font-size:calc( 10px + ( 36rem - 10rem ) );
						font-family: open-sans;
						
						letter-spacing: 0.15em;
						
						font-weight: bold;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						max-width: 300px;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						padding-left: 0px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-icon-holder .icon-source  {
		
						width: 70px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud #pagination-holder  {
		
						font-style: italic;
						font-size:calc( 10px + ( 17rem - 10rem ) );
						font-family: 'Times New Roman';
						
						color: rgb(76, 76, 76);
						
						padding-bottom: 5px;
						
						border-color: rgb(85, 85, 85);
						
						padding-right: 15px;
						
						padding-left: 15px;
						
						padding-top: 5px;
						
						margin-bottom: 40px;
						
						border-width: 1px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-item-links .Link:hover  {
		
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .background-div  {
		
						background-size: contain;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud.master.item-box   {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-title  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-bottom: 0px;
						
						line-height: 1.2em;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud.master.item-box   {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-item-links span  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						border-color: rgb(0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 15px;
						
						padding-left: 15px;
						
						border-radius: 19px;
						
						padding-top: 10px;
						
						margin-bottom: 30px;
						
						border-width: 2px;
						
						background-color: rgba(15, 43, 67, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-body  {
		
						margin-bottom: 10px;
						
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						line-height: 1.5em;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .stripe-background  {
		
						opacity: 0.13;
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -50px;
						
						margin-left: -6%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-element.icon-source  {
		
						margin-bottom: 10px;
						
						margin-top: 0px;
						
						width: 50px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: center;
						
						padding-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 0px;
						
						padding-left: 0px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .background-image-div  {
		
						color: rgb(0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .Subtitle  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .Body h2  { 
						font-family: ralewaythin;
						font-size:calc( 10px + ( 22rem - 10rem ) );	
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-subtitle  {
		
						color: rgb(0, 0, 0);
						font-size:calc( 10px + ( 14rem - 10rem ) );
						font-family: Raleway;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-icon-holder  {
		
						text-align: center;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud  .preview-content-wrapper  {
		
						text-align: center;
						
						vertical-align: middle;
							
		}
	
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-item-links span:hover  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-element.Link.hover-tester  { 
						color: rgb(50, 158, 212);
						
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-item-links span:before  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .inner-pic  {
		
						opacity: 1;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter:none;filter:none;	
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-title  {
		font-size:calc( 10px + ( 20rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: Montserrat;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(140, 140, 140);
						
						max-width: 500px;
						
						margin-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
							
		}
	
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .blocks-preview-item-links .Link  {
		font-size:calc( 10px + ( 15rem - 10rem ) );
						padding-bottom: 5px;
						
						padding-right: 10px;
						
						margin-top: 10px;
						
						padding-left: 10px;
						
						border-radius: 18px;
						
						padding-top: 5px;
						
						margin-bottom: 10px;
						
						border-width: 2px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .pic-side:after  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .item-effect-tester  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .sub.item-box:after  { 
						background-color: rgb(62, 62, 62);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-subtitle  ,  .style-4ebeec9e-wqqmtpb9 .style-3e4060b1-8bmyyzud .preview-body h2  { 
						font-family: Raleway;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-left: 0px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






























 .style-3e4060b1-8bmyyzud #vbid-3e4060b1-gd1sutbm.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-xdpbj3eu.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-4vqjdpzh.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-toir7l93.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-lgmfy7xe.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-xybo83bh.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-vcrlfb9a.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-ct4trfi9.inner-pic{
				
							background-size : contain;
					
				} .style-3e4060b1-8bmyyzud #vbid-3e4060b1-mpvd5j3r.inner-pic{
				
							background-size : contain;
					
				}









/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4ebeec9e-znxeak6z version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z.master.item-box   {
		
						position: relative;
						
						background-color: rgb(255, 255, 255);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-item-links span:hover  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z.master.item-box   {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-item-links span  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 20px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.2em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 20px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-title  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-body h1  { font-size:calc( 10px + ( 16rem - 10rem ) );
						color: rgb(232, 232, 232);
						
						letter-spacing: 0.05em;
						
						font-weight: bold;
						
						margin-left: 10px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-bottom: 0px;
						
						margin-top: 0px;
						
						width: 320px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .stripe-background  {
		
						margin-left: -6%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-item-links span:before  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .effect-tester  { 
						background-color: rgb(181, 181, 181);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .middle_layout .helper-div  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-subtitle  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-znxeak6z .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(152, 152, 152);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 10px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4ebeec9e-meupya3d version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 50px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 50px;
						
						background-color: rgba(230, 210, 80, 0);
						
						padding-left: 0px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 20px;
						
						margin-bottom: 20px;
						
						width: 15%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .inner-pic  {
		
						opacity: 0.14;
						
						color: rgb(0, 0, 0);
						
		    			-webkit-filter: grayscale(100%) brightness(0.8);	
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-subtitle-holder  {
		
						max-width: 650px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .background-div  {
			
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-title  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-body h1  { 
						font-family: 'Playfair Display';
						font-size:calc( 10px + ( 38rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 15px;
						
						line-height: 1.1em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-item-links span  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 11rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(0, 0, 0);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.1em;
						
						padding-right: 30px;
						
						margin-top: 20px;
						
						padding-left: 30px;
						
						border-radius: 22px;
						
						padding-top: 15px;
						
						margin-bottom: 30px;
						
						border-width: 0px;
						
						background-color: rgb(244, 207, 20);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .stripe-background  {
		
						opacity: 0.61;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-element.icon-source  {
		
						width: 90px;
						
						margin-bottom: 15px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .background-image-div  {
		
						color: rgb(0, 0, 0);
						
						opacity: 1;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-link-img  {
		
						width: 35px;
						
						margin: 8px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-item-links span:hover  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-item-links span:before  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 30px;
						
						line-height: 1.6em;
							
		}
	
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .middle_layout .helper-div  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-subtitle  ,  .style-4ebeec9e-wqqmtpb9 .style-4ebeec9e-meupya3d .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 20rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-4ebeec9e-meupya3d #vbid-4ebeec9e-ogusc7cq .preview-content-holder{
				
							text-align : center;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-wsafux3i .preview-content-holder{
				
							text-align : left;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-aywx1trv .preview-content-holder{
				
							text-align : center;
					
				}


 .style-4ebeec9e-meupya3d #vbid-4ebeec9e-d8naoffw.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-snhaizqj.inner-pic{
				
							background-size : 143%;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-qejivbzw.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-kxpodxqd.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-frfdwjku.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-rutt5jeq.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-wkv5l7jq.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				}













 .style-4ebeec9e-meupya3d #vbid-4ebeec9e-ogusc7cq .preview-content-wrapper{
				
							text-align : center;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-wsafux3i .preview-content-wrapper{
				
							text-align : left;
					
				} .style-4ebeec9e-meupya3d #vbid-4ebeec9e-aywx1trv .preview-content-wrapper{
				
							text-align : center;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-4ebeec9e-wqqmtpb9 version 1.0
 *                                 	 
 ******************************************************************************************************/
	 .master .style-4ebeec9e-wqqmtpb9 .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .Subtitle  ,  .master .style-4ebeec9e-wqqmtpb9 .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .Title  ,  .master .style-4ebeec9e-wqqmtpb9 .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-4ebeec9e-wqqmtpb9 .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-4ebeec9e-wqqmtpb9 .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-4ebeec9e-wqqmtpb9.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: 'Playfair Display';
				
						letter-spacing: 0.0em;
				
						line-height: 1.0em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Abel;
				
						letter-spacing: 0.1em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
				
						line-height: 1.4em;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}